<div class="row">
    <div class="small-12 medium-6 columns" >
        <%= link_to t('backend.back'), active_admin_notifications_path , class: "button tiny radius" %>
    </div>
</div>
<%= form_tag canceled_admin_notification_path(@notification), method: :post, html: {class: 'admin-form'} do  %>
    <%= hidden_field_tag :id, @notification.id%>
    
    <div class="row">
        <div class="small-12 columns">
            <%= label_tag :reject_reasons, "Razón de rechazo" %>
            <%= text_area_tag :reject_reasons %>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns" style="margin-top: 2rem">
            <%= submit_tag t('backend.save'), :class=> "button radius success right" %>
        </div>
    </div>
<% end %>