<div class="small-12 column">

  <% content_for :description do %>
    <%=t 'websitemap.content'%>
  <% end %>

  <p><a href="/"><%= t "websitemap.cover_page" %></a></p>
  <p><a href="/visitors"><%= t "websitemap.agendas" %></a></p>
  <p><%= link_to t("websitemap.registration_lobbies"), registration_lobbies_path %></p>
    <ul>
    <li><%= link_to t("websitemap.search_lobbies"), organizations_path %></li>
    <li><%= link_to t("websitemap.update_lobbies"), edit_organization_path %></li>
    <li><%= link_to t("websitemap.rules_lobbies"), "/code_of_conduct"%></li>
    <li><%= link_to t("websitemap.faq"), faq_path %></li>
    <li><%= link_to t("websitemap.stadistics"), statistics_path %></li>
    <li><%= link_to t("websitemap.mailbox"), new_infringement_email_path %></li>
    </ul>
  <p><%= link_to t("websitemap.regulations_lobbies"), 'https://transparencia.madrid.es/portales/transparencia/es/Informacion-juridica/Huella-normativa?vgnextfmt=default&vgnextchannel=4099508929a56510VgnVCM1000008a4a900aRCRD', target: 'blank', accesskey: 3 %></p>
</div>
