<div class="small-12 columns mb20">
  <article id="<%= event.id.to_i%>" class="post event">
    <h2 class="post__title"><%= link_to event.title, show_path(event.slug) %></h2>
    <p><strong>
      <%= show_agenda_link_array(event.holder_name, event.position.holder_id) %> ·
      <%= event.position.title.custom_titleize %> ·
      <%= event.position.area.title.custom_titleize %>
    </strong></p>
    <p><%= I18n.l event.scheduled, format: :complete if !event.scheduled.blank? %></p>
  </article>
</div>