<% content_for(:body_class) { 'visit-organizations-list' } %>
<div class="row">
  <div class="small-12 columns">
    <h2 class="small-12 columns title-l mb20">
      <%= @title %></h2>
  </div>
</div>

<div class="row">
  <div class="small-12 columns mb40">
    <div class="small-12 columns mb20">
      <div class="text-left">
      <%= page_entries_info @lobbies, entry_name: t('backend.lobby') %>
        <%= paginate @lobbies %>
      </div>
    </div>
    <div class="small-12 columns mb20 list-organizations">
      <% @lobbies.each do |organization| %>
        <%= render organization, :params => {stats: :true} %>
      <% end %>
    </div>
    <div class="small-12 columns">
      <%= paginate @lobbies %>
    </div>
  </div>
</div>
