<div class="small-12 columns mb10">
  <p>
    <strong class="result-l mb20"><%= @events.count%></strong>
    <strong><%= t('main.results')%></strong>
    <span class="keywords"><%= t('main.with_keyword')%>
      <strong><%= params[:keyword]%></strong>
      <a id="delete-keywords" href="#">
        <span class="icon icon__delete"><%= t('main.delete')%>
        </span>
      </a>
    </span>
  </p>
</div>
