<% if params[:controller] == 'homepage' %>
  <div class="header-title">
    <h1><strong><%= t('header.title_home') %></strong></h1>
    <p><%= t('header.lead_home_html') %></p>
  </div>
<% elsif params[:controller] == 'registration_lobbies' %>
    <div class="header-title">
      <h1><strong><%= t('header.title_registration_lobbies_html') %></strong></h1>
      <p><%= t('header.lead_registration_lobbies_html') %></p>
    </div>
<% elsif params[:controller] == 'visitors' %>
    <div class="header-title">
      <h1><strong><%= t('header.title_visitors_html') %></strong></h1>
      <p><%= t('header.lead_visitors_html') %></p>
    </div>
<% elsif params[:controller] == 'organizations' && params[:action] == 'index' %>
  <div class="header-title">
    <h1><strong><%= t("organizations.title") %></strong></h1>
  </div>
<% elsif params[:controller] == 'organizations' && params[:action] == 'new' %>
  <div class="header-title">
    <h1><strong><%=t('registration_lobbies_index.organizations.title') %></strong></h1>
  </div>
<% elsif params[:controller] == 'static_pages' && params[:action] == 'code_of_conduct' %>
  <div class="header-title">
    <h1><strong>Código de conducta</strong></h1>
  </div>
<% elsif params[:controller] == 'infringement_emails' %>
  <div class="header-title">
    <h1><strong><%= t('infringement_mailbox.title') %></strong></h1>
    <p><%= t('infringement_mailbox.description') %></p>
  </div>
<% elsif params[:controller] == 'statistics' %>
  <div class="header-title">
    <h1><strong><%= t('statistics.statistics') %></strong></h1>
    <p><%= t('statistics.description')  %></p>
  </div>
<% elsif params[:controller] == 'static_pages' && params[:action] == 'accessibility' %>
  <div class="header-title">
    <h1><strong><%=t("accessibility.title")%></strong></h1>
  </div>
<% elsif params[:controller] == 'static_pages' && params[:action] == 'websitemap' %>
  <div class="header-title">
    <h1><strong><%= t "websitemap.title" %></strong></h1>
  </div>
<% end %>
