<%= form_for @event, html: {class: 'admin-form'} do |f| %>

    <% if @event.errors.any? %>
        <div class="panel callout radius">
          <strong><%= t('activerecord.errors.template.header',
                        :model => Event.model_name.human,
                        :count => @event.errors.count) %>
          </strong>
          <ul>
            <% @event.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <% if admin_or_mananger_edit? %>
      <fieldset>
        <div class="small-12 column">
          <%= f.label :title, "Organización que solicita la reunión" %>
          <%= f.text_field :organization_name, disabled: true %>
        </div>
      </fieldset>
    <% end %>

    <fieldset class="meeting-lobby-activity">
      <div class="small-12 columns">
        <legend><%= t('backend.meeting_lobby_activity') %></legend>
        <%= f.radio_button :lobby_activity, true  %>
        <%= f.label :lobby_activity, t('backend.meeting_lobby_activity_yes'), value: true %>
        <%= f.radio_button :lobby_activity, false, disabled: current_user.lobby?%>
        <%= f.label :lobby_activity, t('backend.meeting_lobby_activity_no'), value: false %>
        <div class="small-12 error-radio-buttons"></div>
        <div id="lobby-activity-event">
        <div class="lobby-organization-autocomplete">
          <%= t('backend.meeting_lobby_activity_organization') %>
          <% if current_user.lobby? %>
            <%= f.hidden_field :organization_id, :value => current_user.organization_id %>
            <%= f.autocomplete_field :organization_name, autocomplete_organization_name_organizations_path, :update_elements => {}, placeholder: t('backend.meeting_lobby_activity_input'), value: current_user.organization.fullname, readonly: true, onchange: "$('#event_organization_name').val($(this).val());" %>
          <% else %>
            <%= f.hidden_field :organization_id %>
            <%= f.autocomplete_field :organization_name, autocomplete_organization_name_organizations_path,:id_element => '#event_organization_id', :update_elements => {:id => '#event_organization_id'}, placeholder: t('backend.meeting_lobby_activity_input'), onchange: "$('#event_organization_name').val($(this).val());" %>
          <% end %>
        </div>

        <% if current_user.lobby? %>
          <div id="category-block">
            <div class="row">
              <div class="small-10 columns"><%= t('backend.meeting_lobby_category') %> <i id="event-category"><%= current_user.organization.category.name %> </i></div>
              <div class="small-2 columns"></div>
            </div>
            <hr />
          </div>
        <% else %>
          <div id="category-block" style="display: none" data-new-url="<%= organization_category_url_pattern %>">
            <div class="row">
              <div class="small-10 columns"><%= t('backend.meeting_lobby_category') %> <i id="event-category"></i></div>
              <div class="small-2 columns"></div>
            </div>
            <hr />
          </div>
        <% end %>
        <%= hidden_field_tag :organization_entity_type%>
        <%= render 'event_represented_entities', f:f %>
        <hr />
        <%= render 'event_agents', f:f %>

      </div>
      </div>
    </fieldset>
    <fieldset>
      <legend><%= t('backend.basic_data') %></legend>
      <div class="small-12 columns">
        <%= f.label :title, t('backend.title') %>
        <%= f.text_field :title %>
        <%= f.label :location, t('backend.location') %>
        <%= f.text_field :location %>
        <%= f.label :description, event_description(current_user)%>
        <%= f.text_area :description, class: 'tinymce'%>
        <br>
        <%# if current_user.lobby? %>
          <!--<div class="lobby-scheduled">
            <%#= f.label :lobby_scheduled, t('backend.lobby_date') %>
            
            <%#= f.text_area :lobby_scheduled, class: 'tinymce' %>
            <br />
          </div>
        <%# end %>-->
        <%# unless current_user.lobby? %>
          <%= f.label :scheduled, t('backend.date') %>
          <%= f.text_field :scheduled, class: 'fdatepicker', max: Date.today + 1.year, autocomplete: :off, value: f.object.scheduled.present? ? I18n.l(f.object.scheduled, format: :short) : nil %>
          <%= form_field_errors(f, :scheduled) %>
        <%# end %>
        <% if current_user.lobby? %>
          <%= f.label :name_holder, t('backend.main_position') %>
          <span class="help-text"><%= t('backend.main_position_help_text') %></span>
          <%= f.autocomplete_field :holder_title,  autocomplete_position_title_positions_path ,:update_elements => {:id => '#position_id'} , placeholder: t('backend.holder_input') , value: holder_name_by_position_id(@event.position_id) %>
          <%= f.hidden_field :position_id, {:id => "position_id"} %>
        <% else %>
          <%= f.label :position_id, t('backend.main_position') %>
          <%= f.select :position_id, options_for_select(@positions, f.object.position_id), prompt: t('backend.select') %>
        <% end %>
      </div>
    </fieldset>
    <fieldset><legend><%=t('backend.attendees_generic')%></legend>
      <div class="row">
        <legend>
          <div class="small-4 columns">
            <%= "¿Multiples asistentes?" %>
          </div>
          <div class="small-8 columns">
            <%=t('backend.multi_info')%>
          </div>
        </legend>
        
      </div>
      <div class="row">
        <div class="small-4 columns">
          <%= f.radio_button :multi_attendees, true, checked: f.object.multi_attendees ? true : false  %>
          <%= f.label "Si", t('backend.meeting_lobby_activity_yes'), value: true %>
          <%= f.radio_button :multi_attendees, false, checked: f.object.multi_attendees ? false : true %>
          <%= f.label "NO", t('backend.meeting_lobby_activity_no'), value: false %>
        </div>
      </div>
      <div class="events-attendees">

        <% unless current_user.lobby? %>
          <fieldset><!-- Participants -->
            <legend><%= t('backend.participants') %></legend>
            <div class="small-12 columns">
              <div class="row">
                <div class="small-10 columns"><%= t('backend.name') %></div>
                <div class="small-2 columns"></div>
              </div>

              <div id="participants">
                <%= f.fields_for :participants do |participant| %>
                    <%= render 'participant_fields', f: participant %>
                <% end %>
              </div>
              <%= link_to_add_association t('backend.add'), f, :participants, :class => "button radius tiny info right add-participant", 'data-association-insertion-method' => 'append', 'data-association-insertion-node' => '#participants' %>
            </div>
          </fieldset>
        <% end %>
        <fieldset><!-- Attendees -->
          <legend><%= t('backend.attendees') %></legend>
          <div id="attendees">
            <%= f.fields_for :attendees do |attendee| %>
                <%= render 'attendee_fields', f: attendee %>
            <% end %>
          </div>
          <div class="small-12 column">
            <%= link_to_add_association t('backend.add'), f, :attendees, :class => "button radius tiny info add-attendee right",'data-association-insertion-method' => 'append', 'data-association-insertion-node' => '#attendees' %>
          </div>
        </fieldset>
      </div>
    </fieldset>
    <fieldset><!-- Attachments -->
      <legend><%= t('backend.attachments') %></legend>

      <div id="attachments">
        <%= f.fields_for :attachments do |attachment| %>
            <%= render 'attachment_fields', f: attachment %>
        <% end %>
      </div>
      <div class="small-12 columns">
        <%= link_to_add_association t('backend.add'), f, :attachments, :class => "button radius tiny info add-attachment right",'data-association-insertion-method' => 'append', 'data-association-insertion-node' => '#attachments' %>
      </div>
    </fieldset>
      
    <% if current_user.lobby? || admin_or_mananger_edit? %>
      <fieldset>
        <legend><%= t('backend.general_remarks') %></legend>
        <%= f.text_area :general_remarks, class: 'tinymce' %>
      </fieldset>
    <% end %>

    <% unless current_user.lobby? %>
      <fieldset>
        <legend><%= t('backend.manager_general_remarks_title') %></legend>
        <%= f.text_area :manager_general_remarks, class: 'tinymce' %>
      </fieldset>
    <% end %>

    <% if current_user.lobby?%>
    <fieldset class="lobby-contact-info">
      <legend> Datos de contacto </legend>
      <div class="small-12 medium-6 columns">
        <%= f.label :lobby_contact_firstname, "Nombre" %>
        <%= f.text_field :lobby_contact_firstname, value: calculate_firstname(@event) %>
      </div>
      <div class="small-12 medium-6 columns">
        <%= f.label :lobby_contact_lastname, "Apellidos" %>
        <%= f.text_field :lobby_contact_lastname, value: calculate_lastname(@event) %>
      </div>
      <div class="small-12 medium-6 columns">
        <%= f.label :lobby_contact_phone, "Teléfono" %>
        <%= f.text_field :lobby_contact_phone, value: calculate_phone(@event) %>
      </div>
      <div class="small-12 medium-6 columns">
        <%= f.label :lobby_contact_email, "Email" %>
        <%= f.text_field :lobby_contact_email, value: calculate_email(@event) %>
      </div>
    </fieldset>
    <%end%>

    <% unless f.object.new_record? || !f.object.lobby_activity? %>
      <fieldset class="reason-activity-actions">
        <legend><%= t('backend.event_actions') %></legend>
        <div class="row">
          <div class="small-12 columns">
            <% if !current_user.lobby? %>
              <%= link_to t('backend.accept_event'), '#', :class => "button radius success small", disabled: !declinable_or_aceptable_event?(f.object), id: "accept_link" %>
              <%= link_to t('backend.decline_event'), '#', :class => "button radius warning small", disabled: !declinable_or_aceptable_event?(f.object), id: "decline_link" %>
            <% end %>
            <%= link_to t('backend.cancel_event'), '#', :class => "button radius alert small", disabled: !cancelable_event?(f.object), id: "cancel_link" %>
          </div>
        </div>

        <% if !current_user.lobby? %>
          <% if declinable_or_aceptable_event?(f.object) %>
            <%= f.hidden_field :accept %>
            <%= render partial: 'reason_text_area', locals: {id: "decline-reason", label: :declined_reasons, msg: t('backend.declined_reasons') , f: f , comprobation: declinable_or_aceptable_event?(f.object), hidden_label: :decline} %>
          <% end %>
        <% end %>
        <% if cancelable_event?(f.object) %>
          <%= render partial: 'reason_text_area', locals: {id: "cancel-reason", label: :canceled_reasons, msg: t('backend.canceled_reasons') , f: f  , comprobation: cancelable_event?(f.object), hidden_label: :cancel} %>
        <% end %>
      </fieldset>
    <% end %>
    <div class="buttons-bottom">
      <% if current_user.lobby? %>
        <%= submit_tag t('backend.save_request'), :class=> "button radius success right" %>
      <% else %>
        <div class="row">
          <div class="small-12 columns">
            <fieldset>
              <legend><%= t('backend.meeting_lobby_activity_public_website') %></legend>
              <%= f.text_field :published_at, class: 'fdatepicker', autocomplete: :off %>
              <%= form_field_errors(f, :published_at) %>
              <p class="help-text">Si deja este campo en blanco, cuando pulse Aceptar este evento se verá en la zona pública.</p>
            </fieldset>
          </div>
          <div class="small-12 columns">
            <%= submit_tag t('backend.save'), :class=> "button radius success center right" %>
            <%= link_to t('backend.exit_without_save'), events_home_path(current_user, true), class: "button radius alert center right" %>
          </div>
        </div>
      <% end %>
    </div>
<% end %>

<%= javascript_include_tag 'events'%>
