<div class="nested-fields">
  <div class="row">
      <%= f.hidden_field :event_id, value: @event.id %>
      <div class="small-8 columns">
        <%= f.select :position_id, options_for_select(@participants, f.object.position_id | 0), class: "large-8 columns unique", prompt: t('backend.select') %>
      </div>
    <div class="small-2 columns">
      <%= link_to_remove_association t('backend.delete'), f, :class => "button tiny radius alert right" %>
    </div>
  </div>
</div>
