<div class="row">
  <div class="small-12 columns">
    <%= link_to t('backend.edit'), edit_event_path(@event), :class=> "button tiny radius success" if can? :edit, @event%>
    <%= link_to t('backend.back'), :back , class: "button tiny radius" %>
    <%= link_to t('backend.clone'), clone_event_path(@event), method: :get, :class=> "button tiny radius warning" if can? :clone, @event %>
    <%= link_to t('backend.export_outlook'),export_outlook_event_path(@event.id), :class=> "button tiny radius" if can? :export_outlook, @event %>

    <%#= link_to t('backend.export_outlook'), get_login_url(@event.id), :class=> "button tiny radius" if can? :export_outlook, @event %>
    <%#= link_to t('backend.export_google'), redirect_url(:id => @event.id), :class=> "button tiny radius alert" if can? :export_outlook, @event%>
    <h2 class="title-l"><%= @event.title %></h2>   
    <p>
      <strong><%= t('organizations.show.state') %></strong>
      <span class="label success"><%= t("status.#{@event.status}") %></span>
    </p>
  </div>
</div>

<% if @event.status == "declined" ||  @event.status == "canceled"  %>
  <fieldset>
    <legend>Motivos: </legend>
    <p> <%= reason_text(@event) %> </p>
  </fieldset>
<% end %>

<fieldset>
  <legend><%= t('backend.basic_data') %></legend>
  <strong><%= t('backend.holder') %>:</strong>
  <p><%= @event.position.holder.full_name %></p>
  <strong><%= t('backend.title') %>:</strong>
  <p><%= @event.title %></p>
  <strong><%= t('backend.location') %>:</strong>
  <p><%= @event.location %></p>
  <strong><%= t('backend.date') %>:</strong>
  <p><%= I18n.l(@event.scheduled, format: :short) if @event.scheduled.present? %></p>
  <strong><%= event_description(current_user) %>:</strong>
  <%= @event.description.html_safe if @event.description.present? %>
</fieldset>
<% if @event.user.present? %>
<fieldset>
  <legend><%= t('backend.event_history_updates') %></legend>
  <div class="row">
    <div class="small-6 columns"><strong><%= t('backend.event_update_user') %></strong></div>
    <div class="small-6 columns"><strong><%= t('backend.event_update_date') %></strong></div>
  </div>
  <div class="row">
    <div class="small-6 columns">
      <p><%= @event.user.full_name %></p>
    </div>
    <div class="small-6 columns">
      <p><%= I18n.l(@event.updated_at, format: :short) if @event.updated_at.present? %></p>
    </div>
  </div>
</fieldset>
<% end %>
<fieldset>
  <legend><%= t('backend.participants') if @event.multi_attendees.to_s != 'true'%><%=t('backend.attendees_generic') if @event.multi_attendees.to_s == 'true'%></legend>
  <%if @event.multi_attendees.to_s != 'true'%>
    <div class="row">
      <div class="small-4 columns">
        <strong><%= t('backend.name') %></strong>
      </div>
      <div class="small-4 columns">
        <strong><%= t('backend.position') %></strong>
      </div>
      <div class="small-4 columns">
        <strong><%= t('backend.area') %></strong>
      </div>
    </div>
    <% @event.participants.each do |participant| %>
    <div class="row">
      <div class="small-4 columns">
        <p><%= participant.position.holder.full_name %></p>
      </div>
      <div class="small-4 columns">
        <p><%= participant.position.title %></p>
      </div>
      <div class="small-4 columns">
        <p><%= participant.position.area.title %></p>
      </div>
    </div>
    <% end %>
  <%else%>
    <%=t('backend.multi_attendees')%>
  <%end%>
</fieldset>
<%if @event.multi_attendees.to_s != 'true'%>
  <fieldset>
    <legend><%= t('backend.attendees') %></legend>
    <div class="row">
      <div class="small-4 columns">
        <strong><%= t('backend.name') %></strong>
      </div>
      <div class="small-4 columns">
        <strong><%= t('backend.position') %></strong>
      </div>
      <div class="small-4 columns">
        <strong><%= t('backend.company') %></strong>
      </div>
    </div>
    <% @event.attendees.each do |attendee| %>
    <div class="row">
      <div class="small-4 columns">
        <p><%= attendee.name %></p>
      </div>
      <div class="small-4 columns">
        <p><%= attendee.position %></p>
      </div>
      <div class="small-4 columns">
        <p><%= attendee.company %></p>
      </div>
    </div>
    <%end%>
  </fieldset>
<%end%>
  <%= render "attachment_show", attachments: @event.attachments %>

  <% if @event.lobby_activity %>
    <fieldset>
      <legend><%=t('backend.lobbies.data')%></legend>
      <%unless @event.lobby_expired.blank?%>
        <div class="row">
          <div class="small-12 columns">
            <span class="label <%= @event.lobby_expired == "old_event" ? "success" : "alert"%>">
              <%= t("expired.#{@event.lobby_expired}") %>
            <span>
          </div>
        </div>
        <br>
      <%end%>
      <div class="row">
        <div class="small-12 columns">
          <p>
            <strong><%=t('backend.lobbies.name')%>: </strong>
            <%= link_to @event.organization.fullname, admin_organization_path(@event.organization) %>
          </p>
          <%= render "attachment_show", attachments: @event.organization.attachments %>
          <hr />
        </div>
        <div class="small-12 columns">
          <strong><%=t('backend.lobbies.agents')%>:</strong>
          <br>
          <% @event.event_agents.each do |agent| %>
            <p><%= agent.name %></p></p>
            <%= render "attachment_show", attachments: agent.attachments %>
          <% end %>
          <hr />
        </div>
        <div class="small-12 columns">
          <strong><%=t('backend.lobbies.company')%>:</strong>
          <br />
          <% @event.event_represented_entities.each do |represented_entity| %>
            <p><%= represented_entity.name %></p>
          <% end %>
          <hr />
        </div>
        <div class="small-12 columns">
          <strong><%=t('backend.lobbies.comments')%>:</strong>
          <br />
          <p><%= @event.general_remarks.html_safe if @event.general_remarks.present? %></p>
        </div>
      </div>
    </fieldset>
  <% end %>
</div>
