<%date_year = DataPreference.find_by(title: "expired_year")
  date_year= date_year.blank? ? 2 : date_year.content_data
  expired_date = @organization.set_expired_date %>
<fieldset>
  <legend><%= t('backend.reference.title_fieldset') %></legend>
 
  <div class="row">
    <div class="small-12 medium-12 columns">
      <%= f.label :reference, t('backend.reference.title') %>
      <%= f.text_field :reference %>
      <%= form_field_errors(f, :reference) %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-4 columns">
      <%= f.label :inscription_date, "Fecha de inscripción" %>
      <% if @notification && (@notification.type_action == "Modificación" || @notification.type_action == "Renovación" || @notification.type_action == "Baja") %>
        <%= f.text_field :inscription_date, readonly: true, autocomplete: :off, value: @organization.inscription_date.present? ? I18n.l(@organization.inscription_date, format: :short) : nil, onchange: "change_expired_date($(this),#{date_year},'#{expired_date.strftime("%d-%m-%Y %k:%M")}')" %>
      <% else %>
        <%= f.text_field :inscription_date, class: 'fdatepicker', autocomplete: :off, value: @organization.inscription_date.present? ? I18n.l(@organization.inscription_date, format: :short) : nil, onchange: "change_expired_date($(this),#{date_year},'#{expired_date.strftime("%d-%m-%Y %k:%M")}')" %>
      <% end%>
    </div>

    <div class="small-12 medium-4 columns">
      <%= f.label :modification_date, "Fecha de modificación" %>
      <%= f.text_field :modification_date, class: 'fdatepicker', autocomplete: :off, value: @organization.modification_date.present? ? I18n.l(@organization.modification_date, format: :short) : nil %>
    </div>

    <div class="small-12 medium-4 columns">
      <%= f.label :canceled_at, "Fecha de baja" %>
      <%= f.text_field :canceled_at, class: 'fdatepicker', autocomplete: :off, value: @organization.canceled_at.present? ? I18n.l(@organization.canceled_at, format: :short) : nil %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-4 columns">
      <%= f.label :renovation_date, "Fecha de renovación" %>
      <% if @notification && (@notification.type_action == "Modificación" || @notification.type_action == "Baja") %>
        <%= f.text_field :renovation_date, readonly: true, autocomplete: :off, value: @organization.renovation_date.present? ? I18n.l(@organization.renovation_date, format: :short) : nil, onchange: "change_expired_date($(this),#{date_year},'#{expired_date.strftime("%d-%m-%Y %k:%M")}')"  %>
      <% else %>
        <%= f.text_field :renovation_date, class: 'fdatepicker', autocomplete: :off, value: @organization.renovation_date.present? ? I18n.l(@organization.renovation_date, format: :short) : nil, onchange: "change_expired_date($(this),#{date_year},'#{expired_date.strftime("%d-%m-%Y %k:%M")}')"  %>
      <% end %>
      <%= form_field_errors(f, :renovation_date) %>
    </div>

    <div class="small-12 medium-4 columns" style="float: left">
      <%= f.label :expired_date, "Fecha de caducidad" %>
      <div id="expired-date">
        <%= @organization.expired_date.present? ? I18n.l(@organization.expired_date, format: :short) : expired_date.strftime("%d-%m-%Y %k:%M") %>
      </div>
    </div>
  </div>

  <% if @organization.organizations_renewals.count > 0 && current_user.admin?%>
    <div class="row">
        <div class="small-12 medium-12 columns">
        <fieldset>
          <legend><%= t('backend.title_renovation') %></legend>
          <table class="small-12">
            <thead>
              <tr>
                <th><%= t('backend.renovation_date')%></th>
                <th><%= t('backend.expired_date')%></th>
                <th><%= t('backend.active')%></th>
              </tr>
            </thead>
            
            <tbody>
              <%@organization.organizations_renewals.each do |renew| %>
                <tr>
                  <td><%=renew.renovation_date.present? ? I18n.l(renew.renovation_date, format: :short) : "--/--/----"%></td>
                  <td><%=renew.expiration_date.present? ? I18n.l(renew.expiration_date, format: :short) : "--/--/----"%></td>
                  <td><%=renew.active && !renew.expiration_date.blank? && renew.expiration_date > Time.zone.now ? "Activo" : "Caducado"%></td>
                </tr>
              <%end%>
            </tbody>
          </table>
          </fieldset>
        </div>
    </div>
  <%end%>
    
</fieldset>

<script>change_expired_date($("#organization_renovation_date"),<%=date_year%>);</script>
