<%notification ||=false%>
<fieldset>
  <legend><%= t('backend.contact_person.title_fieldset') %></legend>
  <div class="row">
    <div id="nested-user">
      <%= f.fields_for :user do |user_builder| %>
        <div class="small-12 columns">
          <%= render 'admin/organizations/form/user_fields', f: user_builder, notification: notification %>
        </div>
      <% end %>
    </div>
  </div>
</fieldset>
