<div class="row">
    <div class="small-12 medium-12 column">
        <h1>
            <%= t('backend.preferences.send_emails')%>
        </h1>
        <div class="row">
            <div class="small-12 medium-12 column">
                <%= form_for :send_email, :url => { :action => :send_email },html: {class: 'admin-form'} do |f| %>
                    <% if !@errors.blank? %>
                        <div class="panel callout radius">
                        <strong><%= t('activerecord.errors.template.header',
                                        :model => SendEmail.model_name.human,
                                        :count => @errors.count) %>
                        </strong>
                        <ul>
                            <% @errors.each do |msg| %>
                                <li><%= msg %></li>
                            <% end %>
                        </ul>
                        </div>
                    <% end %>

                    <fieldset>
                        <%= f.check_box :auto_send, value: @dp.auto_send, checked: @dp.auto_send %><%= f.label :auto_send, t('backend.send_emails.auto_send') %>
                        <div class="row">
                            <div class="small-4 column"><%= f.label :auto_date, t('backend.send_emails.auto_date') %></div>
                            <div class="small-2 column"><%= f.text_field :auto_date, type: "number", value: @dp.auto_date, min: 1, max: 31 %></div>
                            <div class="small-2 column"><%= f.label :auto_hour, t('backend.send_emails.auto_hour') %></div>
                            <div class="small-3 column end"><%= f.time_field :auto_hour, value: @dp.auto_hour %></div>
                        </div>
                        <div class="row">
                            <div class="small-8 column"><%= f.label :auto_frecuence, t('backend.send_emails.auto_frecuence') %></div>
                            <div class="small-3 column end"><%= f.select :auto_frecuence, options_for_select(@frecuences, @dp.auto_frecuence) %></div>
                        </div>
                        <div class="row">
                            <div class="small-8 column"><%= f.label :auto_user_type, t('backend.send_emails.user_type') %></div>
                            <div class="small-3 column end"><%= f.select :auto_user_type, options_for_select(@user_types, @dp.auto_user_type), 
                                                                                                            checked: @dp.auto_user_type.to_s %></div>
                        </div>
                        <div class="row">
                            <div class="small-12 column"><%= f.label :auto_excluded_emails, t('backend.send_emails.excluded_emails') %></div>
                            <div class="small-12 column"><%= f.text_field :auto_excluded_emails, value: @dp.auto_excluded_emails, size: "500" %></div>
                        <div>
                    </fieldset>
                    <fieldset>
                        <%= f.check_box :manual_send, value: @dp.manual_send, checked: @dp.manual_send %><%= f.label :manual_send, t('backend.send_emails.manual_send') %>
                        <div class="row">
                            <div class="small-2 column"><%= f.label :manual_from_date, t('backend.send_emails.manual_from_date') %></div>
                            <div class="small-3 column"><%= f.date_field :manual_from_date,  as: :date, value: (@dp.manual_from_date.blank? ? false : @dp.manual_from_date.to_date) %></div>
                            <div class="small-2 column"><%= f.label :manual_to_date, t('backend.send_emails.manual_to_date') %></div>
                            <div class="small-3 column end"><%= f.date_field :manual_to_date,  as: :date, value: (@dp.manual_to_date.blank? ? false : @dp.manual_to_date.to_date) %></div>
                        </div>
                        <div class="row">
                            <div class="small-2 column"><%= f.label :manual_hour, t('backend.send_emails.manual_hour') %></div>
                            <div class="small-3 column end"><%= f.time_field :manual_hour, value: @dp.manual_hour, :format=>"%H:%M" %></div>
                        </div>
                        <div class="row">
                            <div class="small-7 column"><%= f.label :manual_user_type, t('backend.send_emails.user_type') %></div>
                            <div class="small-3 column end"><%= f.select :manual_user_type, options_for_select(@user_types, @dp.manual_user_type), checked: @dp.manual_user_type.to_s %></div>
                        </div>
                        <div class="row">
                            <div class="small-12 column"><%= f.label :manual_excluded_emails, t('backend.send_emails.excluded_emails') %></div>
                            <div class="small-12 column end"><%= f.text_field :manual_excluded_emails, value: @dp.manual_excluded_emails %></div>
                        </div>
                    </fieldset>
                    <div><%= f.submit t('backend.manage_mails.update'), class: "button tiny radius success" %></div>
                <% end %>
            </div>
        </div>
    </div>
</div>

