<%= form_for [:admin, @organization], html: { class: 'organization-form' } do |f| %>

  <%= render 'admin/organizations/form/organization_errors', f: f %>
  <%= render 'admin/organizations/form/reference', f: f %>
  <%= render 'admin/organizations/form/data', f: f %>
  <%= render 'admin/organizations/form/legal_representant', f: f %>
  <%= render 'admin/organizations/form/notification_effect', f: f %>
  <%= render 'admin/organizations/form/user', f: f %>
  <%= render 'admin/organizations/form/lobby_data', f: f %>
  <%= render 'admin/organizations/form/represented_entities', f: f %>
  <%= render 'admin/organizations/form/agents', organization: @organization if !@organization.new_record? %>
  <%= render 'admin/organizations/form/terms', f: f %>
  <%= render 'admin/organizations/form/attachments', f: f %>
  <%= render 'admin/organizations/form/invalidate', f: f %>
  <% if params[:action] == "edit" %>
    <%= render 'admin/organizations/form/mailer', f: f %>
  <% end %>


  <div class="small-4 medium-3 large-2 column">
    <%= submit_tag t('backend.save'), class: "button radius success right" %>
  </div>

<% end %>

<%= javascript_include_tag 'organizations'%>
