<div class="small-12 columns">
  <%= form_tag organizations_path, method: :get do %>
    <%= hidden_field_tag :order, params[:order] %>

    <div class="small-12 medium-12 large-4 columns">
      <%= label_tag :keyword, t("organizations.description"), class: 'title-s' %>
      <%= text_field_tag :keyword, params[:keyword], placeholder: "#{t('main.form.lobbies_keyword')}" %>
    </div>
    <div class="small-12 medium-6 large-3 columns">
      <%= label_tag :categoryFilter, t('main.form.filter_by_category'), class: 'title-s' %>
      <%= select_tag :category,
                     options_for_select(Category.categories_sub_categories, params[:category]),
                     id: "categoryFilter",
                     prompt: t("main.form.filter_by_category"),
                     class: "dropdown" %>
    </div> 
    <div class="small-12 medium-6 large-3 columns">
      <%= label_tag :interestsFilter, t('main.form.filter_by_interests'), class: 'title-s' %>
      <%= select_tag :interests,
                     options_for_select(@hash_interest, params[:interests]),
                     id: "interestsFilter",
                     prompt: t("main.form.filter_by_interests"),
                     class: "dropdown" %>
    </div>
    <div class="small-12 medium-2 large-2 columns">
        <%= label_tag :status_type, t("main.form.status_type"),  class: 'title-s' %>
        <%= select_tag :status_type,
            options_for_select([[t("main.form.all"), nil],[t("main.form.active"), 1],[t("main.form.inactive"), 3], [t("main.form.expired"), 4]], 
            unless params[:status_type].blank? 
              params[:status_type]
            else  
              nil
            end),
            class: "dropdown" %>
    </div>
    <div class="small-12 medium-8 large-9 columns">
      <%= check_box_tag(:lobby_activity, value = "1", checked = check_filter_lobby_activity , id: "lobby_activity")%>
      <%= label_tag(:lobby_activity, "Mostrar solo lobbies con reuniones publicadas en la Agenda") %>
    </div>    
    <div class="small-12 medium-4 large-3 columns buttons-action text-right">      
      <%= link_to t("main.form.clear"), organizations_path, class: "button secondary small" %>
      <%= submit_tag t("main.form.search"), class: "button small" %>      
    </div>
  <% end %>
  <hr />
</div>
