<div class="row">
  <div class="small-12 columns">
    <%= link_to t('backend.back'), organization_back_button , class: "button tiny radius" %>
    <h1 class="title-l"><%= @organization.try(:fullname) %></h1>
    <p>
      <strong><%= t('organizations.show.state') %></strong>
      <%= organization_status(@organization) %>
    </p>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <ul class="accordion" role = "tablist">
      <%= render "organizations/show_partials/inscription_data", organization: @organization%>
      <%= render "organizations/show_partials/identifier_data", organization: @organization%>
      <%= render "organizations/show_partials/legal_representant_data", organization: @organization%>
      <%= render "organizations/show_partials/own_lobby_data", organization: @organization%>
      <%= render "organizations/show_partials/represented_entity_data", organization: @organization%>
    
      <% if (!@organization.invalidated? && @organization.canceled_at.blank?) || current_user.try(:admin?) %>
        <li class="accordion-navigation active">
          <div class="accordion-title">
            <%= t('organizations.show.agents_title') %>
            <span class="fa accordion-icon"></span>
          </div>
          <div class="content active">
            <% if @organization.agents.present? %>
              <% @organization.agents.each do |agent| %>
                <% if agent.allow_public_data %>
                  <p>
                    <strong><%= t('organizations.show.agents_fullname') %></strong>
                    <%= agent.name %>
                    <%= agent.first_surname %>
                    <%= agent.second_surname %>
                  </p>
                  <p><strong><%= t('organizations.show.agents_from') %></strong>
                    <%= I18n.l agent.from if agent.from? %>
                  </p>
                  <% if agent.to.present? %>
                    <p><strong><%= t('organizations.show.agents_to') %></strong>
                      <%= I18n.l agent.to if agent.to.present? %>
                    </p>
                  <% end %>
                  <% if agent.public_assignments.present? %>
                    <p>
                      <strong><%= t('backend.agents.public_assignments_only_show') %></strong>
                      <%= agent.public_assignments.html_safe %>
                    </p>
                  <% end %>
                  <hr>
                <% end %>
              <% end %>
            <% else %>
              <%= t('organizations.show.no_results') %>
            <% end %>
          </div>
        </li>
      <% end %>
      

      <li class="accordion-navigation active">
        <div class="accordion-title">
          Reuniones mantenidas
          <span class="fa accordion-icon"></span>
        </div>
        <div class="content active">
          <% if @organization.events.where(status: 2).present? %>
            <ul>
              <% @organization.events.where(status: 2).each do |event| %>
                <li>
                  <p><%= link_to event.title, show_path(event) %></p>
                </li>
              <% end %>
            </ul>
          <% else %>
            <%= t('organizations.show.no_results') %>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</div>
