<div class="row">
  <div class="small-12 column">
    <strong><%= t("backend.newsletters.show.segment_recipient") %></strong>
    <p class="help-text" id="phase-description-help-text">
      <%= t("backend.newsletters.show.admin_email", email: admin_email ) %>
    </p>
  </div>
</div>
<div class="row">
  <table id="newsletters" class="display margin-top" cellpadding="0" width="100%">
    <thead>
    <tr>
      <th class="small-7" ><%= t("backend.newsletters.show.organization") %></th>
      <th><%= t("backend.newsletters.show.email") %></th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <th class="small-7"><%= t("backend.newsletters.show.organization") %></th>
      <th><%= t("backend.newsletters.show.email") %></th>
    </tr>
    </tfoot>
    <tbody>
    <% organizations.each do |destined| %>
      <tr class="small-7">
        <td>
          <%= destined[:name] %>
        </td>
        <td>
          <%= destined[:email] %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>