<div class="row">
  <h1>
    <%= t("backend.newsletters.index.title") %> (<%= @newsletters.count %>)
    <%= link_to t("backend.newsletters.index.new_newsletter"), new_admin_newsletter_path, :class => "button radius warning right" if can? :create, Newsletter %>
  </h1>
</div>

<div class="row">
  <% if @newsletters.any? %>
  <table id="newsletters" class="display" cellpadding="0" width="100%">
    <thead>
    <tr>
      <th class="small-6"><%= t("backend.newsletters.index.subject") %></th>
      <th><%= t("backend.newsletters.index.sent") %></th>
      <th><%= t("backend.newsletters.index.actions") %></th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <th class="small-6"><%= t("backend.newsletters.index.subject") %></th>
      <th><%= t("backend.newsletters.index.sent") %></th>
      <th><%= t("backend.newsletters.index.actions") %></th>
    </tr>
    </tfoot>
    <tbody>
    <% @newsletters.order(created_at: :desc).each do |newsletter| %>
      <tr id="<%= dom_id(newsletter) %>" class="newsletter">
        <td>
          <%= newsletter.subject %>
        </td>
        <td>
          <% if newsletter.draft? %>
            <%= t("backend.newsletters.index.draft") %>
          <% else %>
            <%= l newsletter.sent_at.to_date %>
          <% end %>
        </td>
        <td>
          <%= link_to admin_newsletter_path(newsletter),
                      title: t("backend.newsletters.index.preview") do %>
            <i class="step fi-eye size-24"></i>
          <% end %>
          <%= link_to edit_admin_newsletter_path(newsletter), title: t("backend.newsletters.index.edit") do %>
              <i class="step fi-page-edit size-24"></i>
          <% end if can? :edit, Newsletter %>
          <%= link_to admin_newsletter_path(newsletter), method: :delete, data: { confirm: t("backend.confirm") }, title: t("backend.newsletters.index.delete") do%>
              <i class="step fi-page-delete size-24"></i>
          <% end if can? :delete, Newsletter%>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <% else %>
  <div data-alert class="alert-box radius primary margin-top clear">
    <%= t("backend.newsletters.index.empty_newsletters") %>
  </div>
  <% end %>
</div>
