<div class="row">
  <%= link_to t('backend.back'),
      admin_newsletters_path ,
      class: "button tiny radius" %>
</div>
<div class="row">
  <h2><%= @title %></h2>
</div>
<div class="row">
  <div class="column callout highlight">
    <div class="row">
      <div class="small-12 medium-2 column">
        <strong><%= t("backend.newsletters.show.sent_at") %></strong><br>
        <% if @newsletter.draft? %>
          <%= t("backend.newsletters.index.draft") %>
        <% else %>
          <%= l @newsletter.sent_at.to_date %>
        <% end %>
      </div>
      <div class="small-12 medium-4 column">
        <strong><%= t("backend.newsletters.show.subject") %></strong><br>
        <%= @newsletter.subject %>
      </div>
      <div class="small-12 medium-6 column">
        <strong><%= t("backend.newsletters.show.category") %></strong><br>
        <%= !@newsletter.try(:interests).blank? ? @newsletter.get_interests.html_safe : @newsletter.try(:interest) %>
      </div>
    </div>
    <div class="row">
      <div class="small-12 column margin-top">
        <strong><%= t("backend.newsletters.show.segment_recipient") %></strong><br>
        <%= t("backend.newsletters.show.affected_users", n: @recipients_count) %><br>
      </div>
    </div>
  </div>
</div>

<%= render partial: "organizations", locals: {organizations: @destinataries, admin_email: @newsletter.admin_email}%>

<div class="row">
  <div class="small-12 column">
    <strong><%= t("backend.newsletters.show.body") %></strong>
    <p class="help-text" id="phase-description-help-text">
      <%= t("backend.newsletters.show.body_help_text") %>
    </p>
  </div>
</div>
<div class="row">
  <div class="newsletter-body-content">
    <table cellpadding="0" cellspacing="0" border="0" style="background: #fff; margin: 0 auto; max-width: 800px; width:100%;">
      <thead>
        <tr>
          <th style="background: #013df5;">
            <%= image_tag 'logo-email.jpg', alt:'¡Madrid' %>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <%= render file: "app/views/user_mailer/newsletter.html.erb" %>
        </tr>
        <tr>
          <td>
            <p><%= t('mailers.footer_newsletter') %>
            <p><%= t('mailers.footer', year: Date.current.year) %></p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<% if @newsletter.draft? %>
<div class="row">
  <div class="samll-12 column margin-top">
    <%= link_to t("backend.newsletters.show.send"),
                deliver_admin_newsletter_path(@newsletter),
                "data-alert": t("backend.newsletters.show.send_alert", n: @recipients_count),
                method: :post,
                id: "js-send-newsletter-alert",
                class: "button success" %>
  </div>
</div>
<% end %>
