<div class="nested-fields">

  <div class="row" style="border: 1px solid lightgray;padding-top: 15px;margin-bottom: 10px;">
    <%= f.hidden_field :holder_id, :value => @holder.id %>
    <div class="small-2 columns">
      <%= f.text_field :start,
                       value: f.object.start.present? ? f.object.start.strftime("%d/%m/%Y") : "",
                       class: 'fdatepicker', autocomplete: :off%>
    </div>
    <div class="small-2 columns">
      <%= f.text_field :to,
                       value: f.object.to.present? ? f.object.to.strftime("%d/%m/%Y") : "",
                       class: 'fdatepicker', autocomplete: :off%>
    </div>
    <div class="small-2 columns">
      <%= f.text_field :title%>
    </div>
    <div class="small-3 columns">
      <%= f.select( :area_id, @areas, {} ) %>
    </div>
    <div class="small-3 columns">
      <%= f.text_field :comments%>
    </div>
    <div class="columns">
      <%= link_to_remove_association t('backend.delete'), f, :class => "button tiny radius alert right" %>
    </div>
  </div>
</div>
