<% if current_user.lobby? && !current_user.organization.blank? && !current_user.organization.renovation_date.blank? %>
    <% days =  (current_user.organization.expired_date.to_date - Date.today).to_i %>
    <%if current_user.organization.expired_date < Date.today %>
        <div id="main-content" class="main-content">
            <div class="row">
                <div class="small-12" style="padding:1em;background-color:#f08a24;color:white">
                    <p>El lobby está caducado.</p>
                </div>
            </div>
        </div>
    <% elsif DataPreference.find_by(title: "alert_first").try(:content_data).to_i >= days %>
        <div id="main-content" class="main-content">
            <div class="row">
                <div class="small-12" style="padding:1em;background-color:#f08a24;color:white">
                    <p>Faltan <%=(current_user.organization.expired_date.to_date - Date.today).to_i %> días para que se cumpla la fecha de renovación.</p>
                </div>
            </div>
        </div>
    <%end%>
<%end%>