<!doctype html>
<html lang="es">
  <%= render 'layouts/head' %>
  <body>
    <%= render 'layouts/header' %>    
    <main>
      <%= render  'layouts/admin_messages' %>
      <div id="main-content" class="main-content">
        <div class="row">
          <div class="small-12 column">
              <%= yield %>
          </div>
        </div>
      </div>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
